.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
    width:100vw;
  }
  
  .navContainer{
    width: 100%;
    padding: 0 30px;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .username{
    cursor: pointer;
  }
  
  .logo{
    font-weight: 500;
    cursor: pointer;
  }
  
  .navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
  }