.fp{
  width: 98%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
  margin-top: 60px ;
}

.fp-container{
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}


  .fpItem{
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .fpImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  
  .fpName{
    color: #333;
    font-weight: bold;
  }
  
  .fpCity{
    font-weight: 300;
  }
  
  .fpPrice{
    font-weight: 500;
  }
  
  .fpRating>button{
    background-color: #003580;
    color: white;
    border: none;
    padding: 3px;
    margin-right: 10px;
    font-weight: bold;
  }
  
  .fpRating>span{
    font-size: 14px;
  }

  @media screen and (max-width: 700px){
    .fp {
      width: 100vw;
      overflow: scroll;
      display: block;
      margin-top: 0;
      }
      
      .fp::-webkit-scrollbar{
        display: none;
      }
    
      .fp-container{
        padding: 0 10px;
        width: 700px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
      }
  }