.featured{
  width: 98%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
  margin-top: 60px ;
}

.featured-container{
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}

.featuredItem{
  position: relative;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  flex:1
}

.featuredImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featuredTitles{
  position: absolute;
  bottom: 20px;
  left: 20px;
}

@media screen and (max-width: 700px){
  .featured {
    width: 100vw;
    overflow: scroll;
    display: block;
    margin-top: 0;
    }
    
    .featured::-webkit-scrollbar{
      display: none;
    }
  
    .featured-container{
      padding: 0 10px;
      width: 700px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 20px;
    }
}